<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.come.come">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".MessageService" />
        <service android:name=".ShakeService" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC4_GXqV4rY02OZ80wtSMhAZlG4ab-A6uY " />

        <activity android:name=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:theme="@style/LoginTheme" />
        <activity android:name=".HomecomingActivity" />
        <activity android:name=".TaxiActivity" />
        <activity android:name=".PoliceActivity" />
        <activity android:name=".FriendsSearchActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".FriendsListActivity" />
        <activity android:name=".FriendsAcceptActivity" />
        <activity android:name=".FriendsLocationActivity"></activity>
    </application>

</manifest>